{% load static %}
    <footer class="footer-area bg-f">
		<div class="container" id="contact">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<h3>О нас</h3>
					<p>О нас но больше</p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3>Контактная информация</h3>
					<p class="lead">ул. Вокзальная 6б, Смолевичи</p>
					<p class="lead"><a href="tel: +375 447777349">8 044 777-73-49</a></p>
					<p><a href="mailto: info@admin.com"> info@admin.com</a></p>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3>Время работы:</h3>
					<p><span class="text-color">Каждый день :</span> 9:00 - 23:00</p>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2020 <a href="#">Platform 1</a>
					</div>
				</div>
			</div>
		</div>

	</footer>