<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Заказ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Имя:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="address-text" class="col-form-label">Адрес:</label>
            <input type="text" class="form-control" id="address-text">
          </div>
          <div class="form-group">
            <label for="phone-text" class="col-form-label">Телефон:</label>
            <input type="text" class="form-control" id="phone-text">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Комментарий:</label>
            <input type="text" class="form-control" id="message-text">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" onclick="sendForm(this)" data-dismiss="modal">Отправить</button>
      </div>
    </div>
  </div>
</div>