{% load static %}

<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Site Metas -->
    <title>Platform 1 - {% block title %}{% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    {% block content %}
    {% endblock %}
	<a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>

	<!-- ALL JS FILES -->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
	<script src="{% static 'js/jquery.superslides.min.js' %}"></script>
	<script src="{% static 'js/images-loded.min.js' %}"></script>
	<script src="{% static 'js/isotope.min.js' %}"></script>
	<script src="{% static 'js/baguetteBox.min.js' %}"></script>
	<script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript">
        var products = {};
        updateCart();
        function minusCountCart(e){
            var $input = $(e.parentElement).find('.input-count');
            var count = parseInt($input.text());
            count = count < 2 || isNaN(count) ? 1 : count - 1;
            prod_id = $(e.parentElement.parentElement).attr("prod_id");
            products[prod_id]["count"] = count;
            updateCart()

        };
        function plusCountCart(e){
            var $input = $(e.parentElement).find('.input-count');
            var count = parseInt($input.text());
            count = count < 1 || isNaN(count) ? 1 : count + 1;
            prod_id = $(e.parentElement.parentElement).attr("prod_id");
            products[prod_id]["count"] = count;
            updateCart()
        };
        function minusCount(e){
            var $input = $(e.parentElement).find('.input-count');
            var count = parseInt($input.text());

            count = count < 2 || isNaN(count) ? 1 : count - 1;
            $input.text(count);
            $(e.parentElement).attr("count", count)
        };
        function plusCount(e){
            var $input = $(e.parentElement).find('.input-count');
            var count = parseInt($input.text());
            count = count < 1 || isNaN(count) ? 1 : count + 1;
            $input.text(count);
        };
        $('#card').on('shown.bs.modal', function () {
            updateCart();
            $('#myInput').trigger('focus');
        })

        $('#exampleModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus');
        })

        $('.buttonAdd').click(function (action) {
            prod_id = parseInt(this.parentElement.parentElement.firstElementChild.textContent);
            prod_name = this.parentElement.parentElement.getElementsByClassName("product-name")[0].textContent;
            price = parseInt(this.parentElement.parentElement.getElementsByClassName("product-price")[0].textContent);
            current_price = parseInt($("#sumPrice").text());
            $("#sumPrice").text(current_price + price);
            var $input = $(this).parent().find('.input-count')
            var count = parseInt($input.text())
            addToCart(prod_id, prod_name, price, count);
        })
        updateCart()
        function addToCart(prod_id, name, price, count) {
            if(products[prod_id] != undefined){
                products[prod_id]["count"] += count
            }
            else{
                products[prod_id] = {
                                "id": prod_id,
                                "count": count,
                                "name": name,
                                "price": price
                                }
                        }
            updateCart();
        }
        function deleteItem(e) {
            let price = $(e.parentElement.parentElement).attr('price');
            let count = $(e.parentElement.parentElement).attr('count');
            let prod_id = $(e.parentElement.parentElement).attr('prod_id');
            delete products[prod_id];
            updateCart()
        }
        function updateCart() {
            $('#productsList').html('')
            sum_count = 0;
            sum_price = 0;
            for (let [key, value] of Object.entries(products)){
                let newDiv = $('<div class="cart-item"></div>');
                sum_price += products[key]['price'] * products[key]['count']
                sum_count += products[key]['count']
                let delButton = $('<p class="delPar"><button class="btn-delete" onclick="deleteItem(this)">Удалить</button></p>')
                newDiv.append(`<h4 style="display: inline">${products[key]["name"]}</h4>`);
                newDiv.attr('name', products[key]['name']);
                newDiv.attr('price', products[key]['price']);
                newDiv.attr('prod_id', products[key]["id"]);
                newDiv.attr('count', products[key]["count"]);
                counter_div = $('<div class="counter"></div>');
                counter_div.append('<button class="minus" style="color: black" onclick="minusCountCart(this)">-</button>');
                counter_div.append(`<span class="input-count" style="background: none; border: 0">${products[key]["count"]}</span>`);
                counter_div.append('<button class="plus" style="color: black" onclick="plusCountCart(this)">+</button>');
                newDiv.append(counter_div)
                newDiv.append(delButton)
                $('#productsList').append(newDiv);
            }
            if($("#sumPrice").text() === "0"){
                document.getElementById("orderButton").style.display = "none";
            }else{
              document.getElementById("orderButton").style.display = "";
            }
            $("#sumPrice").text(sum_price);
            $("#quantity").text(sum_count);

        }
        function getProperty(o, prop) {
            if (o[prop] !== undefined) return o[prop];
            else return 0;
        }
        function Success(data, textStatus){
            products = {}
            alert("Ваш заказ принят, с вами свяжутся в скором времени!")
            updateCart()
        }
        $.ajaxSetup({
             beforeSend: function(xhr, settings) {
                 function getCookie(name) {
                     var cookieValue = null;
                     if (document.cookie && document.cookie != '') {
                         var cookies = document.cookie.split(';');
                         for (var i = 0; i < cookies.length; i++) {
                             var cookie = jQuery.trim(cookies[i]);
                             // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                 }
                 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                     // Only send the token to relative URLs i.e. locally.
                     xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                 }
             }
        });
        jQuery(function($) {
          $('#submitBut').on('click', function(event) {
            event.preventDefault(); // отменяем событие по умолчанию
            if ( validateForm() ) { // если есть ошибки возвращает true
              return false; // прерываем выполнение скрипта
            }
            data = {}
            phone = $("#phone-text").val();
            name = $("#recipient-name").val();
            address = $("#address-text").val();
            message = $("#message-text").val();
            data["phone"] = phone;
            data["name"] = name;
            data["address"] = address;
            data["message"] = message;
            data["products"] = JSON.stringify(products);

            $.ajax({
                  type: "POST",
                  url: "http://localhost:8000/api/order/create/",
                  data: data,
                  success: Success
            });
          });

          function validateForm() {
            $(".text-error").remove();

            // Name validation
            var el_l    = $("#recipient-name");
            if ( el_l.val().length < 2 ) {
              var v_login = true;
              el_l.after('<span class="for-login text-error">Введите пожалуйста имя</span>');
              $(".for-login").css({top: el_l.position().top + el_l.outerHeight() + 2});
            }
            $("#recipient-name").toggleClass('error', v_login );

            // Phone validation
            var reg = /\b(\+?(375)?(17|25|29|33|44)[0-9]{7})\b|\b(80(17|25|29|33|44)[0-9]{7})\b/;
            var el_phone = $("#phone-text");
            if (!reg.test(el_phone.val() )){
              var v_phone = true;
              el_phone.after('<span class="for-phone text-error">Номер введен не корректно</span>');
              $(".for-phone").css({top: el_phone.position().top + el_phone.outerHeight() + 2});
            }

            // Address validation
            var el_address = $("#address-text");
            if (el_address.val().length < 5){
              var v_address = true;
              el_address.after('<span class="for-address text-error">Напишите адрес более подробно</span>');
              $(".for-address").css({top: el_address.position().top + el_address.outerHeight() + 2});
            }
            var el_message = $("#message-text");
            if ( el_message.val().length > 200 ) {
              var v_message = true;
              el_message.after('<span class="for-message text-error">Сообщение слишком длинное, допустимая длинна меньше 200 символов</span>');
              $(".for-message").css({top: el_message.position().top + el_message.outerHeight() + 2});
            }
            return ( v_login || v_phone || v_address || v_message);
          }

        });

    </script>
</body>
</html>