{% extends 'base.html' %}
{% load static %}
{% block title %} Main {% endblock %}

{% block content %}
{% include 'includes/navbar.html' %}
	
	<!-- Start Menu -->
	{% include 'includes/menu.html' %}
    {% include 'includes/popup.html' %}
    {% include 'includes/card.html' %}
	
	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4 arrow-right">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Телефон</h4>
						<p class="lead">
							+375441234567
						</p>
					</div>
				</div>
				<div class="col-md-4 arrow-right">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							yourmail@gmail.com
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Наш адрес</h4>
						<p class="lead">
							800, Lorem Street, US
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->
	
	<!-- Start Footer -->
	{% include 'includes/footer.html' %}
	<!-- End Footer -->
{% endblock %}